.footer {
  background-color: #F1E5D1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  text-align: center;
}

.h1Title {
  font-size: 2rem;
  color: #4A4A4A;
  margin: 0;
}
