.bodybackground{
  background-color: #DBB5B5;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 10px;
  padding: 1rem;
}

:host ::ng-deep .p-datatable th {
  text-align: center;
  vertical-align: middle;
}

:host ::ng-deep .p-datatable td {
  width: 33.33%;
}
